{
  "swagger": "2.0",
  "info": {
    "description": "<h1>Metricool API</h1>\r\n        <p>The base URL for all endpoints is: https://app.metricool.com/api</p>\r\n        <p>All endpoints require authentication. To identify yourself properly, you must include 3 parameters in all calls</p>\r\n        <p>You can add the parameters directly in the request <b>(the only parameter that can be implemented in the header with name X-Mc-Auth is the userToken)</b></p>\r\n        <ul>\r\n        <li><b>userToken:</b> It is a unique authorization code for each user and can be found in the account settings.</li>\r\n        <li><b>userId:</b> the user identifier of your Metricool account.</li>\r\n        <li><b>blogId:</b> It is the identification number of the brand, this number can be easily found from the browser url</li>\r\n        </ul>\r\n        <p>Example of a request so that you can see the integration of the parameters in the request (this specific request allows you to find all the brands of a certain user)</p>\r\n        <p>https://app.metricool.com/api/admin/simpleProfiles?blogId=1234567&amp;userId=1234567&amp;userToken=GFJAFBAKFBAK32BKJBFKSABFKABKJFAKABFJKSDBFAK<p>",
    "version": "2.0.0",
    "title": "Metricool API"
  },
  "host": "app.metricool.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "Admin Service"
    },
    {
      "name": "Coupon Partner Api Service"
    },
    {
      "name": "Customize Report Service"
    },
    {
      "name": "Gif Explorer Service"
    },
    {
      "name": "Linkin Bio Service"
    },
    {
      "name": "Offline Report Service"
    },
    {
      "name": "Payments Rest Service"
    },
    {
      "name": "Ping Service"
    },
    {
      "name": "Planner Service"
    },
    {
      "name": "Profile Settings Service"
    },
    {
      "name": "Stats Service"
    },
    {
      "name": "TikTok WH Service"
    },
    {
      "name": "User Settings Service"
    },
    {
      "name": "Vendasta Rest Service"
    },
    {
      "name": "Webhook Base Api Service"
    },
    {
      "name": "Looker studio connector Api Service"
    },
    {
      "name": "Data Studio Service"
    },
    {
      "name": "Analytics Api Service"
    },
    {
      "name": "Analytics Catalogs ApiService"
    },
    {
      "name": "Bluesky Analytics Service"
    },
    {
      "name": "Competitors Api Service"
    },
    {
      "name": "Competitors Posts Api Service"
    },
    {
      "name": "Facebook Analytics Service"
    },
    {
      "name": "Gbp Analytics Service"
    },
    {
      "name": "Hashtags Tracker Api Service"
    },
    {
      "name": "Instagram Analytics Service"
    },
    {
      "name": "Linkedin Analytics Service"
    },
    {
      "name": "Media Api Service"
    },
    {
      "name": "Smart Links Api Service"
    },
    {
      "name": "Threads Analytics Service"
    },
    {
      "name": "TikTok Analytics Service"
    },
    {
      "name": "Adgroups Api Service"
    },
    {
      "name": "Ads Api Service"
    },
    {
      "name": "Ads Previews Api Service"
    },
    {
      "name": "Campaigns Service"
    },
    {
      "name": "Facebook Ads Account Api Service"
    },
    {
      "name": "Keywords Api Service"
    },
    {
      "name": "Recommendations Api Service"
    },
    {
      "name": "Suggestions Service"
    },
    {
      "name": "Agency Customization Kit Api Service"
    },
    {
      "name": "Agency end-clients Api Service"
    },
    {
      "name": "Agency Users Api Service"
    },
    {
      "name": "Authorization Api Service"
    },
    {
      "name": "Brand Role Collaborators Api Service"
    },
    {
      "name": "Brand Roles Api Service"
    },
    {
      "name": "Oauth Api Service"
    },
    {
      "name": "Backoffice Agencies Rest Services"
    },
    {
      "name": "Backoffice ICS Calendar Rest Services"
    },
    {
      "name": "Chat Api Service"
    },
    {
      "name": "Feature Toggle Service"
    },
    {
      "name": "Conversations Api Service"
    },
    {
      "name": "Inbox Notes Api Service"
    },
    {
      "name": "Inbox Status Change Api Service"
    },
    {
      "name": "Post Comments Api Service"
    },
    {
      "name": "Reviews Api Service"
    },
    {
      "name": "Ai Api Service"
    },
    {
      "name": "Ai Natural Language Scheduling Api Service"
    },
    {
      "name": "Canva integration service"
    },
    {
      "name": "Drive integration service"
    },
    {
      "name": "This endpoint returns the required configuration to embed Metricool in our partners' sites"
    },
    {
      "name": "Customize Report Api Service"
    },
    {
      "name": "Report Api Service"
    },
    {
      "name": "Approval Task Api Service"
    },
    {
      "name": "Best Times Api Service"
    },
    {
      "name": "Boards Api Service"
    },
    {
      "name": "Catalogs Api Service"
    },
    {
      "name": "Counters Api Service"
    },
    {
      "name": "ICS Calendar Rest Services for Metricool calendar (scheduler)"
    },
    {
      "name": "Planner Notifications ApiService"
    },
    {
      "name": "Posts Api Service"
    },
    {
      "name": "Scheduled Post Events Api Service"
    },
    {
      "name": "Scheduled Post Notes Api Service"
    },
    {
      "name": "Library Posts Notes Api Service"
    },
    {
      "name": "Brands Api Service"
    },
    {
      "name": "Connections V2 Api Service"
    },
    {
      "name": "Countries Api Service"
    },
    {
      "name": "Payment Methods Api Service"
    },
    {
      "name": "Subscriptions Api Service"
    },
    {
      "name": "Third Party Apps Api Service"
    },
    {
      "name": "Timezones Api Service"
    },
    {
      "name": "Users Api Service"
    },
    {
      "name": "Users Sing-ups Api Service"
    },
    {
      "name": "Whitelabel Settings Api Service"
    },
    {
      "name": "Legal terms api"
    },
    {
      "name": "User contract events api service"
    }
  ],
  "schemes": ["https"],
  "paths": {
    "/admin/max-profiles": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Returns the maximum number of brands for the authenticated user.",
        "description": "",
        "operationId": "getMaxProfiles",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/admin/other-free-connections": {
      "delete": {
        "tags": ["Admin Service"],
        "operationId": "deleteOtherFreeConnections",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/admin/simpleProfiles": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Returns the list of brands of your Metricool account.",
        "description": "",
        "operationId": "getSimpleProfiles",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicBlog"
              }
            }
          }
        }
      }
    },
    "/admin/profiles-auth": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Returns the list of brands of your Metricool account.",
        "description": "",
        "operationId": "getAuthenticatedProfiles",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicBlog"
              }
            }
          }
        }
      }
    },
    "/admin/detectwebsite": {
      "get": {
        "tags": ["Admin Service"],
        "operationId": "detectWebsite",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/PublicBlog"
            }
          }
        }
      }
    },
    "/admin/update-label-blog": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Updates the brand label.",
        "description": "",
        "operationId": "updateLabelBlog",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "newName",
            "in": "query",
            "description": "Profile name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/admin/report-logo": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Returns the report logo URL",
        "description": "",
        "operationId": "getUserReportLogo",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/admin/add-profile": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Creates new profile",
        "description": "",
        "operationId": "addProfile",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/PublicBlog"
            }
          }
        }
      }
    },
    "/admin/delete-profile": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Remove current brand",
        "description": "",
        "operationId": "deleteProfile",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/admin/restore-profile": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Restore a deleted brand",
        "description": "",
        "operationId": "restoreProfile",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/admin/profile/setproperty": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Update brand property value",
        "description": "",
        "operationId": "setProfileProperty",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "property name",
            "required": false,
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "description": "property value",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/admin/profile/getproperty": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Get brand property value",
        "description": "",
        "operationId": "getProfileProperty",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "property name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/admin/blog/profiles": {
      "get": {
        "tags": ["Admin Service"],
        "summary": "Returns a brand picture of your Metricool account.",
        "description": "",
        "operationId": "getBlogProfiles",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/admin/security/migration": {
      "get": {
        "tags": ["Admin Service"],
        "operationId": "migrateAuthentication",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/partner/stackCoupon": {
      "put": {
        "tags": ["Coupon Partner Api Service"],
        "operationId": "addNewCoupon",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/stats/report/updatereportlogo": {
      "post": {
        "tags": ["Customize Report Service"],
        "summary": "Save new logo to be included in the report when no template is selected.",
        "description": "",
        "operationId": "saveReportLogo",
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/stats/report/deletepicture": {
      "get": {
        "tags": ["Customize Report Service"],
        "summary": "Deletes the report picture logo.",
        "description": "",
        "operationId": "deleteReportPicture",
        "produces": ["text/plain"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/stats/report/savetemplate": {
      "post": {
        "tags": ["Customize Report Service"],
        "summary": "Saves the report template.",
        "description": "",
        "operationId": "saveReportTemplateParam",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/stats/report/deletetemplate": {
      "get": {
        "tags": ["Customize Report Service"],
        "summary": "Delete template and update delete value to 1.",
        "description": "",
        "operationId": "deleteTemplateUser",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/report/duplicatetemplate": {
      "get": {
        "tags": ["Customize Report Service"],
        "summary": "Duplicate a template with another name.",
        "description": "",
        "operationId": "duplicateTemplateUser",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "description": "The id of the template you want to duplicate",
            "required": false,
            "type": "string"
          },
          {
            "name": "templateName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/TemplateReport"
            }
          }
        }
      }
    },
    "/stats/report/reporttemplateName": {
      "get": {
        "tags": ["Customize Report Service"],
        "summary": "Returns all report templates of a user.",
        "description": "",
        "operationId": "getReportTemplateUser",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TemplateReport"
              }
            }
          }
        }
      }
    },
    "/stats/report/reporttemplateparam": {
      "get": {
        "tags": ["Customize Report Service"],
        "summary": "Returns all parameters of a specific template",
        "description": "",
        "operationId": "getReportTemplateParam",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "templateId",
            "in": "query",
            "description": "report template id",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/stats/report/template/default-resources": {
      "get": {
        "tags": ["Customize Report Service"],
        "operationId": "getDefaultTemplateResources",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/gifs/search": {
      "get": {
        "tags": ["Gif Explorer Service"],
        "summary": "Search gifs. When query is blank returns trendings",
        "description": "",
        "operationId": "search",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Term to search",
            "required": false,
            "type": "string"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset to implement navigation",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max number of images to return",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "format": "int32"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "language for regional content; use a 2-letter ISO 639-1 language code. By default, your metricool account language will",
            "required": false,
            "type": "string"
          },
          {
            "name": "rating",
            "in": "query",
            "description": "rating GIF and Sticker library is thoroughly moderated and organized by rating. By default g is used \r\n g: Contains images that are broadly accepted as appropriate and commonly witnessed by people in a public environment. \r\n pg: Contains images that are commonly witnessed in a public environment, but not as broadly accepted as appropriate. \r\n pg-13: Contains images that are typically not seen unless sought out, but still commonly witnessed \r\n r:Contains images that are typically not seen unless sought out and could be considered alarming if witnessed",
            "required": false,
            "type": "string",
            "default": "g"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          }
        }
      }
    },
    "/linkinbio/instagram/getbiocatalog": {
      "get": {
        "tags": ["Linkin Bio Service"],
        "summary": "Returns Instagram BIO link contents",
        "description": "",
        "operationId": "getInstagramBioCatalog",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramBioCatalog"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/getbioButtons": {
      "get": {
        "tags": ["Linkin Bio Service"],
        "summary": "Returns Instagram BIO link contents",
        "description": "",
        "operationId": "getInstagramButtonsBioCatalog",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramLinkTree"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/deletecatalogimage": {
      "delete": {
        "tags": ["Linkin Bio Service"],
        "summary": "Delete item from Instagram BIO link",
        "description": "",
        "operationId": "deleteCatalogImage",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to delete",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramBioCatalog"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/deletecatalogitem": {
      "delete": {
        "tags": ["Linkin Bio Service"],
        "summary": "Delete item from Instagram BIO link",
        "description": "",
        "operationId": "deleteCatalogItem",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to delete",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramLinkTree"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/updateButtonPosition": {
      "get": {
        "tags": ["Linkin Bio Service"],
        "summary": "Delete item from Instagram BIO link",
        "description": "",
        "operationId": "updateButtonPosition",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to delete",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramLinkTree"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/editcatalogitem": {
      "get": {
        "tags": ["Linkin Bio Service"],
        "summary": "Delete item from Instagram BIO link",
        "description": "",
        "operationId": "editCatalogItem",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to update",
            "required": false,
            "type": "integer"
          },
          {
            "name": "link",
            "in": "query",
            "description": "new link URL",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramBioCatalog"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/editcatalogbutton": {
      "get": {
        "tags": ["Linkin Bio Service"],
        "summary": "Update button link and text in Instagram BIO link",
        "description": "",
        "operationId": "editCatalogButton",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to update",
            "required": false,
            "type": "integer"
          },
          {
            "name": "link",
            "in": "query",
            "description": "new link URL",
            "required": false,
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "new text description",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramLinkTree"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/addcatalogitems": {
      "post": {
        "tags": ["Linkin Bio Service"],
        "summary": "Add one or more pictures to Instagram BIO link",
        "description": "",
        "operationId": "addCatalogItems",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "picture",
            "in": "query",
            "description": "The most recent post Id (only for Instagram personal accounts)",
            "required": false,
            "type": "string"
          },
          {
            "name": "igid",
            "in": "query",
            "description": "Instagram post identifier",
            "required": false,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp in milis",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramBioCatalog"
              }
            }
          }
        }
      }
    },
    "/linkinbio/instagram/addcatalogButton": {
      "get": {
        "tags": ["Linkin Bio Service"],
        "summary": "Add button to Instagram BIO link",
        "description": "",
        "operationId": "addCatalogButton",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "textButton",
            "in": "query",
            "description": "button text",
            "required": false,
            "type": "string"
          },
          {
            "name": "link",
            "in": "query",
            "description": "button Link",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramLinkTree"
              }
            }
          }
        }
      }
    },
    "/mtr/ping": {
      "get": {
        "tags": ["Ping Service"],
        "operationId": "pong",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/actions/setTimeZone": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Define the user timezone.",
        "description": "",
        "operationId": "setTimeZone",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "timezone",
            "in": "query",
            "description": "time zone --> Europe/Berlin or Europe/Paris ",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/actions/normalize/image/url": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Validates that the URL is publicly accessible and transforms it into a URL from a metricool repository",
        "description": "",
        "operationId": "getNormalizedImageUrl",
        "produces": ["text/plain"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/actions/instagram/required-scopes-to-post": {
      "get": {
        "tags": ["Planner Service"],
        "operationId": "requiredInstagramScopesToPublish",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/actions/instagram/auto-candidate-posts-count-for-automation": {
      "get": {
        "tags": ["Planner Service"],
        "operationId": "getCandidatePostCountForAutomation",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/actions/instagram/auto-candidate-posts-for-automation": {
      "post": {
        "tags": ["Planner Service"],
        "operationId": "setCandidatePostForAutomation",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/actions/facebook/search-location": {
      "get": {
        "tags": ["Planner Service"],
        "operationId": "getLocations",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FacebookLocation"
              }
            }
          }
        }
      }
    },
    "/actions/twitter/suggestions": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Returns a list of suggestions of twitter accounts.",
        "description": "",
        "operationId": "getTwitterSuggestions",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Text entered in the search field",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitterEvent"
              }
            }
          }
        }
      }
    },
    "/actions/bluesky/suggestions": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Returns a list of suggestions of Bluesky accounts.",
        "description": "",
        "operationId": "getBlueskySuggestions",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Text entered in the search field",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitterEvent"
              }
            }
          }
        }
      }
    },
    "/actions/facebook/suggestions": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Returns a list of suggestions of facebook accounts.",
        "description": "",
        "operationId": "getFacebookSuggestions",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Text entered in the search field",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitterEvent"
              }
            }
          }
        }
      }
    },
    "/actions/instagram/suggestions/hashtags": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Returns a list of suggestions of instagram hashtags.",
        "description": "",
        "operationId": "getInstagramHashtagsSuggestions",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Text entered in the search field",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "/actions/linkedin/suggestions": {
      "get": {
        "tags": ["Planner Service"],
        "summary": "Returns a list of suggestions of linkedIn companies.",
        "description": "",
        "operationId": "getLinkedInSuggestions",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Text entered in the search field",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitterEvent"
              }
            }
          }
        }
      }
    },
    "/actions/csv/table": {
      "post": {
        "tags": ["Planner Service"],
        "operationId": "getCSVTable",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CalendarCSVRow"
              }
            }
          }
        }
      }
    },
    "/profile/report/sections": {
      "get": {
        "tags": ["Profile Settings Service"],
        "operationId": "getUserReportSections",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/UserSettingsReportSections"
            }
          }
        }
      }
    },
    "/profile/lastsyncs": {
      "get": {
        "tags": ["Profile Settings Service"],
        "operationId": "getLastSyncs",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      }
    },
    "/profile/subscription": {
      "get": {
        "tags": ["Profile Settings Service"],
        "operationId": "getUserSubscription",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          }
        }
      }
    },
    "/profile/timezone": {
      "post": {
        "tags": ["Profile Settings Service"],
        "operationId": "setBrandTimezone",
        "parameters": [],
        "responses": {
          "default": {
            "description": "successful operation"
          }
        }
      }
    },
    "/stats/values/{category}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns metrics values for a concrete day and filtered by category",
        "description": "",
        "operationId": "getValues",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Supported values: fbAdsPerformance, adwordsPerformance, BestTimeTweet, FacebookAds, Facebook, Linkedin, Contents, instagram, Twitter, BestTimeIG, Audience",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "/stats/twitter/posts": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns tweets list with metrics for the period",
        "description": "",
        "operationId": "getTweets",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (created, favorites, retweets, linkClicks)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tweet"
              }
            }
          }
        }
      }
    },
    "/stats/posts": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns website posts published during the period",
        "description": "",
        "operationId": "getPosts",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PublicPost"
              }
            }
          }
        }
      }
    },
    "/stats/timeline/{metric}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns time serie values for a concrete metric during a period of time",
        "description": "",
        "operationId": "getTimeLine",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "metric",
            "in": "path",
            "description": "Supported values: \r\n     For Website: Visitors, PageViews, SessionsCount \r\n     For Blog: DailyComments, DailyPosts \r\n     For Twitter: twitterFollowers, twTweets, 2ndLevelFollowers, LastDayActiveFollowers, LastMonthActiveFollowers, twFavorites, twFriends, twListed, twMentions, twRetweets, follows, unfollows\r\n     For Facebook pages: facebookLikes, fbPosts, dailyImpressions, dailyImpressionsUnique, dailyReactions, dailyClicks, dailyShares, dailyComments, pageImpressions, pageViews, fbFollows, fbUnfollows, ctaClicks, callPhoneClicks, getDirectionsClicks, \r\n     For Facebook groups: fb_group_members, fb_group_members_req, fbGroupsPosts, fbGroupsEngagement, fbGroupsInteractions, fbGroupsReactions, fbGroupsComments\r\n     For Instagram: igFollowers, igFollowing, igDeltaFollowers, igPosts, igLikes, igComments, igEngagement, igSaved, igInteractions, igimpressions, igreach, igprofile_views, igwebsite_clicks, igPostsImpressions, igPostsReach, igStoriesImpressions, igStoriesReach, igStoriesCount\r\n     For LinkedIn: inFollowers, inPaidFollowers, inCompanyImpressions, inPosts, inCliks, inPostsLikes, inComments\r\n     For Facebook Ads: clicks, total_action_value, cpc, cpm, cpp, ctr, impressions, reach, spend, unique_clicks, unique_ctr\r\n     For Youtube: ytviewerPercentage, yttotalComments, yttotalViews, yttotalVideos, yttotalSubscribers, yttotalLikes, yttotalDislikes, yttotalFavorites, ytsubscribersGained, ytsubscribersLost, ytviews, ytestimatedRevenue, ytestimatedMinutesWatched, ytaverageViewDuration, ytlikes, ytdislikes, ytcomments, ytshares, ytestimatedRedPartnerRevenue, ytadImpressions, ytmonetizedPlaybacks",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/stats/aggregation/{metric}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Engagement metric aggregated value for a period of time",
        "description": "",
        "operationId": "getAggregation",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "metric",
            "in": "path",
            "description": "Supported values: igEngagement, affiliationEarned, fbPostsReach, igPostsReach, igStoriesReach, fbDailyEngagement and pinterestEngagement",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "igcompetitorid",
            "in": "query",
            "description": "(Optional) to get Instagram engagement for a competitor",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        }
      }
    },
    "/stats/aggregations/{category}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns a list of metrics agregated for a period of time filtered by category",
        "description": "",
        "operationId": "getAggregations",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "Supported values: fbAdsPerformance, adwordsPerformance, BestTimeTweet, FacebookAds, Facebook, Linkedin, Contents, instagram, Twitter, BestTimeIG, Audience",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "campaignid",
            "in": "query",
            "description": "(Optional) Only for fbAdsPerformance, adwordsPerformance",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "number",
                "format": "double"
              }
            }
          }
        }
      }
    },
    "/stats/distribution/{type}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns website visits distribution during the period",
        "description": "",
        "operationId": "getGeoDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Supported values: country, referers, sources",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      }
    },
    "/stats/twEvents/{type}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns twitter account that start following and stop following during the period",
        "description": "",
        "operationId": "getTwitterEvents",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Supported values: follows, unfollows",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitterEvent"
              }
            }
          }
        }
      }
    },
    "/stats/rt/values": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns page views, visits and visitors for today for the website and people reading right now",
        "description": "",
        "operationId": "getRTValues",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "/stats/rt/pvperhour": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns page views per hour distribution for a website in real time",
        "description": "",
        "operationId": "getRTPageViewsPerHour",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      }
    },
    "/stats/rt/sessions": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns real time visit list for a website",
        "description": "",
        "operationId": "getRTSessions",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/VisitorSessionList"
            }
          }
        }
      }
    },
    "/stats/rt/distribution/{type}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns real time visits distribution for the website",
        "description": "",
        "operationId": "getRTDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "Values: referers, countries, sources, currentpageviews",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      }
    },
    "/stats/rt/twitter/tweets/{type}": {
      "get": {
        "tags": ["Stats Service"],
        "operationId": "getLastTweets",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "screenname",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "timezone",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Supported values: tweets, mentions",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tweet"
              }
            }
          }
        }
      }
    },
    "/stats/rt/twitterProfile": {
      "get": {
        "tags": ["Stats Service"],
        "operationId": "getTwitterProfile",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "$ref": "#/definitions/TwitterProfile"
            }
          }
        }
      }
    },
    "/stats/instagram/posts": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Instagram post list with metrics for the period",
        "description": "",
        "operationId": "statsServiceGetInstagramPosts",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (published, likes, comments, filter, engagement, interactions, clicks, type, owner, impressions, reach, saved, videoviews)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramPost"
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/stats/instagram/reels": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Instagram reel list with metrics for the period",
        "description": "",
        "operationId": "statsServiceGetInstagramReels",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (published, likes, comments, filter, engagement, interactions, clicks, type, owner, impressions, reach, saved, videoviews)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramReel"
              }
            }
          }
        }
      }
    },
    "/stats/instagram/stories": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Instagram stories list with metrics for the period",
        "description": "",
        "operationId": "statsServiceGetInstagramStories",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (published, exits, impressions, reach, replies, tapsForward, tapsBack)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramStory"
              }
            }
          }
        }
      }
    },
    "/stats/{provider}/posts/types": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns tweets grouped by type",
        "description": "",
        "operationId": "getTweetsTypes",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Social media network (twitter, facebook, instagram...)",
            "required": true,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/stats/gender/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns followers distribution by gender",
        "description": "",
        "operationId": "getComunityGenderDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: facebook, instagram",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Number"
              }
            }
          }
        }
      }
    },
    "/stats/gender-age/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns followers distribution by gender and age",
        "description": "",
        "operationId": "getComunityGenderAgeDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: facebook, instagram",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GenderAgeDistribution"
              }
            }
          }
        }
      }
    },
    "/stats/trafficsource/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "operationId": "getCommunityTrafficSourceDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        }
      }
    },
    "/stats/twitch/videos": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns twitch videos with metrics for the period",
        "description": "",
        "operationId": "getTwitchVideos",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (created)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitchVideo"
              }
            }
          }
        }
      }
    },
    "/stats/twitch/clips": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns twitch clips from a specific video",
        "description": "",
        "operationId": "getTwitchClips",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (created)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitchClip"
              }
            }
          }
        }
      }
    },
    "/stats/twitch/video/clips": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns  clips from a twitch channel",
        "description": "",
        "operationId": "getTwitchClipsByVideo",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (created)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitchClip"
              }
            }
          }
        }
      }
    },
    "/stats/twitch/subscriptions": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns  subscriptions twitch channel",
        "description": "",
        "operationId": "getTwitchSubscriptions",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (date)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TwitchSubscription"
              }
            }
          }
        }
      }
    },
    "/stats/twitch/subscriptions/doughnut": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns subscribers distribution by type",
        "description": "",
        "operationId": "getSubscriptionsDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Number"
              }
            }
          }
        }
      }
    },
    "/stats/tiktokads/campaigns": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns TikTok campaigns with metrics for the period",
        "description": "",
        "operationId": "getTikTokCampaigns",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdCampaign"
              }
            }
          }
        }
      }
    },
    "/stats/age/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns followers distribution by age",
        "description": "",
        "operationId": "getComunityAgeDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: facebook, instagram",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Number"
              }
            }
          }
        }
      }
    },
    "/stats/postmessage/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Post a a message or a comment in response to anothere",
        "description": "",
        "operationId": "getPostMessage",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: fbMessenger, fbComments, igComments, twitterDM",
            "required": true,
            "type": "string"
          },
          {
            "name": "conversationid",
            "in": "query",
            "description": "Message or comment to respond",
            "required": false,
            "type": "string"
          },
          {
            "name": "text",
            "in": "query",
            "description": "Text to publish",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/stats/deletecomment/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Delete a Facebook comment",
        "description": "",
        "operationId": "getDeleteComment",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: fbComments",
            "required": true,
            "type": "string"
          },
          {
            "name": "commentid",
            "in": "query",
            "description": "Facebook comment id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/postlike/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Switch like (like or unlike) a Facebook comment",
        "description": "",
        "operationId": "getPostLike",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: fbComments",
            "required": true,
            "type": "string"
          },
          {
            "name": "objectid",
            "in": "query",
            "description": "Facebook comment id",
            "required": false,
            "type": "string"
          },
          {
            "name": "isLiked",
            "in": "query",
            "description": "true, if you want to remove the like",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/country/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns followers distribution by country",
        "description": "",
        "operationId": "getComunityCountryDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: facebook, instagram, tiktok, youtube",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Number"
              }
            }
          }
        }
      }
    },
    "/stats/city/{provider}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns followers distribution by city",
        "description": "",
        "operationId": "getComunityCityDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Supported values: facebook, instagram",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/definitions/Number"
              }
            }
          }
        }
      }
    },
    "/stats/twitter/follow": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Follow twitter account",
        "description": "",
        "operationId": "followTwitter",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "userid",
            "in": "query",
            "description": "twitter user id",
            "required": false,
            "type": "string"
          },
          {
            "name": "screenname",
            "in": "query",
            "description": "twitter screen name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/twitter/unfollow": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Unfollow twitter account",
        "description": "",
        "operationId": "unfollowTwitter",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "userid",
            "in": "query",
            "description": "twitter user id",
            "required": false,
            "type": "string"
          },
          {
            "name": "screenname",
            "in": "query",
            "description": "twitter screen name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/facebook/posts": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Facebook page posts list with metrics for the period",
        "description": "",
        "operationId": "statsServiceGetFacebookPosts",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (reactions, engagement, shares, impressions, impressionsUnique, clicks, linkclicks, comments, videoViews, videoTimeWatched)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FacebookPost"
              }
            }
          }
        }
      }
    },
    "/stats/fbgroup/posts": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Facebook group posts list with metrics for the period",
        "description": "",
        "operationId": "getFacebookGroupPosts",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (reactions, engagement, comments)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FacebookPost"
              }
            }
          }
        }
      }
    },
    "/stats/linkedin/posts": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns LinkedIn posts list with metrics for the period",
        "description": "",
        "operationId": "getLinkedinPosts",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (likes, clicks, impressions, engagement, comments)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkedinPost"
              }
            }
          }
        }
      }
    },
    "/stats/linkedin/stories": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns LinkedIn stories list with metrics for the period",
        "description": "",
        "operationId": "getLinkedinStories",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (likes, clicks, impressions, engagement, comments)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkedinPost"
              }
            }
          }
        }
      }
    },
    "/stats/facebookads/campaigns": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Facebook Ads campaigns list with metrics for the period",
        "description": "",
        "operationId": "getFacebookAdsCampaings",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (name, objective, created, updated, impressions, reach, conversions, clicks, start, cpm, cpc, ctr, spent)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdCampaign"
              }
            }
          }
        }
      }
    },
    "/stats/adwords/campaigns": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Google Ads campaigns list with metrics for the period",
        "description": "",
        "operationId": "getAdwordsCampaings",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (impressions, start, cpm, cpc, ctr, cost)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdCampaign"
              }
            }
          }
        }
      }
    },
    "/stats/adwords/keywords": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Google Ads keywords list with metrics for the period",
        "description": "",
        "operationId": "getAdwordsKeywords",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (impressions, start, cpm, cpc, ctr, cost)",
            "required": false,
            "type": "string"
          },
          {
            "name": "CAMPAIGN",
            "in": "query",
            "description": "(optional) campaign identifier to filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AdsKeyword"
              }
            }
          }
        }
      }
    },
    "/stats/ads": {
      "get": {
        "tags": ["Stats Service"],
        "operationId": "getAdwordsAds",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Ad"
              }
            }
          }
        }
      }
    },
    "/stats/facebookads/metricvalue": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Facebook Ads metric value",
        "description": "",
        "operationId": "getFacebookAdsMetricValue",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "metric",
            "in": "query",
            "description": "metric name",
            "required": false,
            "type": "string"
          },
          {
            "name": "start",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "Format: YYYYMMDD",
            "required": false,
            "type": "integer"
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "timezone to use for the date range",
            "required": false,
            "type": "string"
          },
          {
            "name": "idCampaign",
            "in": "query",
            "description": "(optional) only to filter for a campaign",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        }
      }
    },
    "/stats/link/distribution/{type}": {
      "get": {
        "tags": ["Stats Service"],
        "operationId": "getLinkDistribution",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "supported values: twFollowers, facebook, instagram",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "headers": {},
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        }
      }
    },
    "/stats/instagram/getbiocatalog": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Instagram BIO link contents (catalog)",
        "description": "",
        "operationId": "statsServiceGetInstagramBioCatalog",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramBioCatalog"
              }
            }
          }
        }
      }
    },
    "/stats/instagram/getbioButtons": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Instagram BIO link contents",
        "description": "",
        "operationId": "statsServiceGetInstagramButtonsBioCatalog",
        "produces": ["application/json"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/InstagramLinkTree"
              }
            }
          }
        }
      }
    },
    "/stats/instagram/deletecatalogitem": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Delete item from Instagram BIO link",
        "description": "",
        "operationId": "statsServiceDeleteCatalogItem",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to delete",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/instagram/updateButtonPosition": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Delete item from Instagram BIO link",
        "description": "",
        "operationId": "statsServiceUpdateButtonPosition",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to delete",
            "required": false,
            "type": "integer"
          },
          {
            "name": "itemposition",
            "in": "query",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/instagram/editcatalogitem": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Update picture link in Instagram BIO link",
        "description": "",
        "operationId": "statsServiceEditCatalogItem",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to update",
            "required": false,
            "type": "integer"
          },
          {
            "name": "link",
            "in": "query",
            "description": "new link URL",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/instagram/editcatalogbutton": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Update button link and text in Instagram BIO link",
        "description": "",
        "operationId": "statsServiceEditCatalogButton",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to update",
            "required": false,
            "type": "integer"
          },
          {
            "name": "link",
            "in": "query",
            "description": "new link URL",
            "required": false,
            "type": "string"
          },
          {
            "name": "textButton",
            "in": "query",
            "description": "new link URL",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/instagram/editcoloritem": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Update button color in Instagram BIO link",
        "description": "",
        "operationId": "editColorItem",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "itemid",
            "in": "query",
            "description": "item id to update",
            "required": false,
            "type": "integer"
          },
          {
            "name": "link",
            "in": "query",
            "description": "new link URL",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/instagram/addcatalogitem": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Add picture to Instagram BIO link",
        "description": "",
        "operationId": "addCatalogItem",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "picture",
            "in": "query",
            "description": "The most recent post Id (only for Instagram personal accounts)e",
            "required": false,
            "type": "string"
          },
          {
            "name": "igid",
            "in": "query",
            "description": "Instagram post identifier",
            "required": false,
            "type": "string"
          },
          {
            "name": "timestamp",
            "in": "query",
            "description": "Unix timestamp in milis",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/instagram/addcatalogButton": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Add button to Instagram BIO link",
        "description": "",
        "operationId": "statsServiceAddCatalogButton",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "igid",
            "in": "query",
            "description": "button text",
            "required": false,
            "type": "string"
          },
          {
            "name": "link",
            "in": "query",
            "description": "button Link",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/stats/facebook/boost/{postId}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Creates a paid campaign for a published Facebook post",
        "description": "",
        "operationId": "boostFacebookPost",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "published Facebook post id (Facebook identifier)",
            "required": true,
            "type": "string"
          },
          {
            "name": "budget",
            "in": "query",
            "description": "new budget to boost",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/stats/facebook/boost/pending/{postId}": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Add the boost budget for a programmed Facebook post for first time.",
        "description": "",
        "operationId": "boostFacebookPostPending",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "published Facebook post id (Facebook identifier)",
            "required": true,
            "type": "string"
          },
          {
            "name": "budget",
            "in": "query",
            "description": "new budget to boost",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/stats/facebook/getvalue": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns the boost budget for a programmed Facebook post.",
        "description": "",
        "operationId": "boostFacebookGetValue",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "postId",
            "in": "query",
            "description": "published Facebook post id (Facebook identifier)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/stats/gmb/review": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns Gmb review list with metrics for the period",
        "description": "",
        "operationId": "getGmbReviews",
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "start",
            "in": "query",
            "description": "period start (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "end",
            "in": "query",
            "description": "period end (YYYYMMDD)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "sortcolumn",
            "in": "query",
            "description": "column to sort (created, saves, comments)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GmbReview"
              }
            }
          }
        }
      }
    },
    "/stats/gmb/reviewbyid": {
      "get": {
        "tags": ["Stats Service"],
        "summary": "Returns a GMB review  from API",
        "description": "",
[...]
